#question{
    height: 200px;
    overflow-y: auto;
    font-size: 1em;
}

#answer_0[correct="true"],#answer_1[correct="true"],#answer_2[correct="true"],#answer_3[correct="true"]{
     background-color: chartreuse;
}

#answer_0[correct="false"],#answer_1[correct="false"],#answer_2[correct="false"],#answer_3[correct="false"]{
    background-color: #ff0802;
}

#answer_0[selected],#answer_1[selected],#answer_2[selected],#answer_3[selected]{
    border:5px solid black;
}

